<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.dao.UserMapper">
    <sql id="userField">
      USER_ID "userId",
      USERNAME "userName",
      PASSWORD "password",
      TRUE_NAME "trueName"
    </sql>

    <!-- 根据用户名查用户 -->
    <select id="selectUserByName" parameterType="string" resultType="com.wj.bean.model.SysUser">
        SELECT
        <include refid="userField"></include>
        FROM SYS_USER
        WHERE USERNAME = #{username}
    </select>

    <!-- 查询用户列表 -->
    <select id="selectUserList" resultType="com.wj.bean.model.SysUser">
        SELECT
        <include refid="userField"></include>
        FROM SYS_USER
        ORDER BY USERNAME
    </select>
    
    <!-- 查询权限 -->
    <select id="listPermissionByUserId" parameterType="string" resultType="string">
        SELECT
            sp.permission_name
        FROM
            sys_permission sp
        INNER JOIN sys_role sr
        INNER JOIN sys_role_resource srr
        INNER JOIN sys_user su
        INNER JOIN sys_user_role sur ON su.user_id = sur.user_id
        AND sur.ROLE_ID = sr.ROLE_ID
        AND sr.ROLE_ID = srr.ROLE_ID
        AND srr.PERMISSION_ID = sp.ID
        WHERE
            su.user_id = #{userId};
    </select>
</mapper>