<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- 自定义的realm -->
    <bean id="myRealm" class="com.wj.controller.shiro.MyRealm">
        <!-- 凭证匹配器 -->
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"></property> <!-- 加密的方式 -->
                <property name="hashIterations" value="1024"></property><!-- 加密的次数 -->
            </bean>
        </property>
    </bean>

    <!-- 安全管理 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
    </bean>

    <!-- shiro过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- shiro过滤器的核心安全接口，这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份验证失败，则跳转到登录界面 -->
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/index"/>
        <!-- 权限验证失败，跳转到指定界面 -->
        <property name="unauthorizedUrl" value="/unauthorzed.ftl"/>
        <!-- shiro连接约束配置 -->
        <property name="filterChainDefinitions">
            <value>
                /login              = anon
                /resources/**       = anon
                /views/common/**    = anon
                /logout             = logout
                /**                 = authc
            </value>
        </property>
    </bean>
</beans>